* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: sans-serif;

    border-top: 10px solid #1098ad;
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
}

nav {
    font-size: 18px;
    text-align: center;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    width: 500px;
    padding: 50px 40px;
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    line-height: 1.5;
}

p {
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

.author {
    font-style: italic;
    font-size: 18px;
}

.copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
    margin-left: 0;
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(2) {
    /* empty */
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    /* color: #777; */
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    background-color: black;
    font-style: italic;
}

.post-img {
    width: 100%;
    height: auto;
}

.author-img {
    width: 50px;
    height: auto;
}

nav a:link {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

nav a:link:last-child {
    margin-right: 0;
}

button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

h3 + p::first-line {
    /* color: red; */
}

h2 {
    position: relative;
}

h2::after {
    content: "TOP";
    background-color: #ffe70e;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: -25px;
}

/* FLOATS */
.author-img {
    float: left;
    margin-bottom: 20px;
}

.author {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

h1 {
    float: left;
}

nav {
    float: right;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

article {
    width: 825px;
    float: left;
}

aside {
    width: 300px;
    float: right;
}

footer {
    clear: both;
}





