* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.product-img {
    float: left;
    margin-right: 40px;
}

nav {
    text-align: center;
    margin: 12px;
}

.go-back:link,
.go-back:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    padding: 11px;
}

.go-back:hover,
.go-back:active {
    background-color: #000;
    color: #fff;
}

.product {
    border: 4px solid #000;
    margin: 50px auto;
    width: 825px;
    position: relative;
}

.product::before {
    position: absolute;
    content: "SALE";
    top: -17px;
    left: -34px;
    padding: 7px 15px;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.product-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 15px;
}

.product-info {
    width: 243px;
    float: left;
    margin-right: 40px;
    margin-top: 20px;
}

.price {
    font-size: 24px;
    float: left;
}

.shipping {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
    float: right;
    margin-top: 8px;
}

.product-description {
    clear: both;
    margin-bottom: 10px;
}

.more-information:link,
.more-information:visited {
    color: #000;
    display: inline-block;
    margin-bottom: 30px;
}

.more-information:hover,
.more-information:active {
    text-decoration: none;
}

.details-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.details-list {
    list-style: square;
    margin-left: 20px;
}

.details-list li {
    margin-bottom: 10px;
}

.add-cart {
    background-color: #000;
    border: none;
    border-top: 4px solid #000;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
    width: 100%;
}

.add-cart:hover {
    color: #000;
    background-color: #fff;
    padding: 20px;
}

.color {
    background-color: #000000;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.c-blue {
    background-color: #3f56ff;
}

.c-red {
    background-color: #ff0015;
}

.c-yellow {
    background-color: #f5ff36;
}

.c-green {
    background-color: #05ff15;
}

.c-brown {
    background-color: #511b25;
}

.product-details {
    width: 243px;
    float: left;
}